In [1]:
import pandas as pd
data = pd.read_csv('data/gapminder_gdp_europe.csv', index_col='country')
print(data.iloc[0, 0])

1601.056136

In [2]:
data = pd.read_csv('data/gapminder_gdp_europe.csv', index_col='country')
print(data.loc["Albania", "gdpPercap_1952"])

1601.056136

In [3]:
print(data.loc["Albania", :])

gdpPercap_1952    1601.056136
gdpPercap_1957    1942.284244
gdpPercap_1962    2312.888958
gdpPercap_1967    2760.196931
gdpPercap_1972    3313.422188
gdpPercap_1977    3533.003910
gdpPercap_1982    3630.880722
gdpPercap_1987    3738.932735
gdpPercap_1992    2497.437901
gdpPercap_1997    3193.054604
gdpPercap_2002    4604.211737
gdpPercap_2007    5937.029526
Name: Albania, dtype: float64

In [4]:
print(data.loc[:, "gdpPercap_1952"])

country
Albania                    1601.056136
Austria                    6137.076492
Belgium                    8343.105127
Bosnia and Herzegovina      973.533195
Bulgaria                   2444.286648
Croatia                    3119.236520
Czech Republic             6876.140250
Denmark                    9692.385245
Finland                    6424.519071
France                     7029.809327
Germany                    7144.114393
Greece                     3530.690067
Hungary                    5263.673816
Iceland                    7267.688428
Ireland                    5210.280328
Italy                      4931.404155
Montenegro                 2647.585601
Netherlands                8941.571858
Norway                    10095.421720
Poland                     4029.329699
Portugal                   3068.319867
Romania                    3144.613186
Serbia                     3581.459448
Slovak Republic            5074.659104
Slovenia                   4215.041741
Spain                      3834.034742
Sweden                     8527.844662
Switzerland               14734.232750
Turkey                     1969.100980
United Kingdom             9979.508487
Name: gdpPercap_1952, dtype: float64

In [5]:
print(data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972'])

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In [6]:
print(data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972'].max())

gdpPercap_1962    13450.40151
gdpPercap_1967    16361.87647
gdpPercap_1972    18965.05551
dtype: float64

In [10]:
print(data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972'].min())

gdpPercap_1962    4649.593785
gdpPercap_1967    5907.850937
gdpPercap_1972    7778.414017
dtype: float64

In [8]:
# Use a subset of data to keep output readable.
subset = data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972']
print('Subset of data:\n', subset)

# Which values were greater than 10000 ?
print('\nWhere are values large?\n', subset > 10000)

Subset of data:
              gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

Where are values large?
              gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                 False            True            True
Montenegro            False           False           False
Netherlands            True            True            True
Norway                 True            True            True
Poland                False           False           False

In [13]:
mask = subset > 10000
mask

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                 False            True            True
Montenegro            False           False           False
Netherlands            True            True            True
Norway                 True            True            True
Poland                False           False           False

In [14]:
print(subset[mask])

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                   NaN     10022.40131     12269.27378
Montenegro              NaN             NaN             NaN
Netherlands     12790.84956     15363.25136     18794.74567
Norway          13450.40151     16361.87647     18965.05551
Poland                  NaN             NaN             NaN

In [15]:
subset[subset > 10000].describe()

       gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
count        2.000000        3.000000        3.000000
mean     13120.625535    13915.843047    16676.358320
std        466.373656     3408.589070     3817.597015
min      12790.849560    10022.401310    12269.273780
25%      12955.737547    12692.826335    15532.009725
50%      13120.625535    15363.251360    18794.745670
75%      13285.513523    15862.563915    18879.900590
max      13450.401510    16361.876470    18965.055510

In [16]:
mask_higher = data > data.mean()
wealth_score = mask_higher.aggregate('sum', axis=1) / len(data.columns)
wealth_score

country
Albania                   0.000000
Austria                   1.000000
Belgium                   1.000000
Bosnia and Herzegovina    0.000000
Bulgaria                  0.000000
Croatia                   0.000000
Czech Republic            0.500000
Denmark                   1.000000
Finland                   1.000000
France                    1.000000
Germany                   1.000000
Greece                    0.333333
Hungary                   0.000000
Iceland                   1.000000
Ireland                   0.333333
Italy                     0.500000
Montenegro                0.000000
Netherlands               1.000000
Norway                    1.000000
Poland                    0.000000
Portugal                  0.000000
Romania                   0.000000
Serbia                    0.000000
Slovak Republic           0.000000
Slovenia                  0.333333
Spain                     0.333333
Sweden                    1.000000
Switzerland               1.000000
Turkey                    0.000000
United Kingdom            1.000000
dtype: float64

In [17]:
data.groupby(wealth_score).sum()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0.000000,36916.854200,46110.918793,56850.065437,71324.848786,88569.346898,104459.358438,113553.768507,119649.599409,92380.047256,103772.937598,118590.929863,149577.357928
0.333333,16790.046878,20942.456800,25744.935321,33567.667670,45277.839976,53860.456750,59679.634020,64436.912960,67918.093220,80876.051580,102086.795210,122803.729520
0.500000,11807.544405,14505.000150,18380.449470,21421.846200,25377.727380,29056.145370,31914.712050,35517.678220,36310.666080,40723.538700,45564.308390,51403.028210
1.000000,104317.277560,127332.008735,149989.154201,178000.350040,215162.343140,241143.412730,263388.781960,296825.131210,315238.235970,346930.926170,385109.939210,427850.333420

In [25]:
df = pd.read_csv('data/gapminder_gdp_europe.csv', index_col='country')
print(df.loc['Serbia', 'gdpPercap_2007'])

9786.534714

In [26]:
print(df.iloc[0:2, 0:2])
print(df.loc['Albania':'Belgium', 'gdpPercap_1952':'gdpPercap_1962'])

         gdpPercap_1952  gdpPercap_1957
country
Albania     1601.056136     1942.284244
Austria     6137.076492     8842.598030
         gdpPercap_1952  gdpPercap_1957  gdpPercap_1962
country
Albania     1601.056136     1942.284244     2312.888958
Austria     6137.076492     8842.598030    10750.721110
Belgium     8343.105127     9714.960623    10991.206760

In [27]:
first = pd.read_csv('data/gapminder_all.csv', index_col='country')
second = first[first['continent'] == 'Americas']
third = second.drop('Puerto Rico')
fourth = third.drop('continent', axis = 1)
fourth.to_csv('result.csv')

In [34]:
data = pd.read_csv('data/gapminder_gdp_europe.csv', index_col='country')
print(data.idxmin())
print("="*50)
print(data.idxmax())

gdpPercap_1952    Bosnia and Herzegovina
gdpPercap_1957    Bosnia and Herzegovina
gdpPercap_1962    Bosnia and Herzegovina
gdpPercap_1967    Bosnia and Herzegovina
gdpPercap_1972    Bosnia and Herzegovina
gdpPercap_1977    Bosnia and Herzegovina
gdpPercap_1982                   Albania
gdpPercap_1987                   Albania
gdpPercap_1992                   Albania
gdpPercap_1997                   Albania
gdpPercap_2002                   Albania
gdpPercap_2007                   Albania
dtype: object
==================================================
gdpPercap_1952    Switzerland
gdpPercap_1957    Switzerland
gdpPercap_1962    Switzerland
gdpPercap_1967    Switzerland
gdpPercap_1972    Switzerland
gdpPercap_1977    Switzerland
gdpPercap_1982    Switzerland
gdpPercap_1987         Norway
gdpPercap_1992         Norway
gdpPercap_1997         Norway
gdpPercap_2002         Norway
gdpPercap_2007         Norway
dtype: object

In [35]:
data['gdpPercap_1982']

country
Albania                    3630.880722
Austria                   21597.083620
Belgium                   20979.845890
Bosnia and Herzegovina     4126.613157
Bulgaria                   8224.191647
Croatia                   13221.821840
Czech Republic            15377.228550
Denmark                   21688.040480
Finland                   18533.157610
France                    20293.897460
Germany                   22031.532740
Greece                    15268.420890
Hungary                   12545.990660
Iceland                   23269.607500
Ireland                   12618.321410
Italy                     16537.483500
Montenegro                11222.587620
Netherlands               21399.460460
Norway                    26298.635310
Poland                     8451.531004
Portugal                  11753.842910
Romania                    9605.314053
Serbia                    15181.092700
Slovak Republic           11348.545850
Slovenia                  17866.721750
Spain                     13926.169970
Sweden                    20667.381250
Switzerland               28397.715120
Turkey                     4241.356344
United Kingdom            18232.424520
Name: gdpPercap_1982, dtype: float64

In [36]:
data.loc['Denmark',:]

gdpPercap_1952     9692.385245
gdpPercap_1957    11099.659350
gdpPercap_1962    13583.313510
gdpPercap_1967    15937.211230
gdpPercap_1972    18866.207210
gdpPercap_1977    20422.901500
gdpPercap_1982    21688.040480
gdpPercap_1987    25116.175810
gdpPercap_1992    26406.739850
gdpPercap_1997    29804.345670
gdpPercap_2002    32166.500060
gdpPercap_2007    35278.418740
Name: Denmark, dtype: float64

In [38]:
data.loc[:,'gdpPercap_1985':]  # wait! there's no 1985 column!

,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,
Albania,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820
Croatia,13822.583940,8447.794873,9875.604515,11628.388950,14619.222720
Czech Republic,16310.443400,14297.021220,16048.514240,17596.210220,22833.308510
Denmark,25116.175810,26406.739850,29804.345670,32166.500060,35278.418740
Finland,21141.012230,20647.164990,23723.950200,28204.590570,33207.084400
France,22066.442140,24703.796150,25889.784870,28926.032340,30470.016700
Germany,24639.185660,26505.303170,27788.884160,30035.801980,32170.374420
Greece,16120.528390,17541.496340,18747.698140,22514.254800,27538.411880
Hungary,12986.479980,10535.628550,11712.776800,14843.935560,18008.944440
Iceland,26923.206280,25144.392010,28061.099660,31163.201960,36180.789190
Ireland,13872.866520,17558.815550,24521.947130,34077.049390,40675.996350
Italy,19207.234820,22013.644860,24675.024460,27968.098170,28569.719700
Montenegro,11732.510170,7003.339037,6465.613349,6557.194282,9253.896111
Netherlands,23651.323610,26790.949610,30246.130630,33724.757780,36797.933320
Norway,31540.974800,33965.661150,41283.164330,44683.975250,49357.190170
Poland,9082.351172,7738.881247,10159.583680,12002.239080,15389.924680
Portugal,13039.308760,16207.266630,17641.031560,19970.907870,20509.647770
Romania,9696.273295,6598.409903,7346.547557,7885.360081,10808.475610
Serbia,15870.878510,9325.068238,7914.320304,7236.075251,9786.534714
Slovak Republic,12037.267580,9498.467723,12126.230650,13638.778370,18678.314350
Slovenia,18678.534920,14214.716810,17161.107350,20660.019360,25768.257590
Spain,15764.983130,18603.064520,20445.298960,24835.471660,28821.063700
Sweden,23586.929270,23880.016830,25266.594990,29341.630930,33859.748350
Switzerland,30281.704590,31871.530300,32135.323010,34480.957710,37506.419070
Turkey,5089.043686,5678.348271,6601.429915,6508.085718,8458.276384
United Kingdom,21664.787670,22705.092540,26074.531360,29478.999190,33203.261280

In [39]:
data['gdpPercap_2007']/data['gdpPercap_1952']

country
Albania                   3.708196
Austria                   5.886596
Belgium                   4.038377
Bosnia and Herzegovina    7.648736
Bulgaria                  4.369697
Croatia                   4.686795
Czech Republic            3.320658
Denmark                   3.639808
Finland                   5.168805
France                    4.334402
Germany                   4.503060
Greece                    7.799725
Hungary                   3.421364
Iceland                   4.978308
Ireland                   7.806873
Italy                     5.793425
Montenegro                3.495221
Netherlands               4.115376
Norway                    4.889067
Poland                    3.819475
Portugal                  6.684325
Romania                   3.437140
Serbia                    2.732555
Slovak Republic           3.680703
Slovenia                  6.113405
Spain                     7.517163
Sweden                    3.970493
Switzerland               2.545529
Turkey                    4.295502
United Kingdom            3.327144
dtype: float64

In [40]:
potatoes = ["Russet", "Norkota", "Yukon Gold", "Pontiac"]
dir(potatoes)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [42]:
potatoes.sort()
potatoes

['Norkota', 'Pontiac', 'Russet', 'Yukon Gold']

In [43]:
data.median()

gdpPercap_1952     5142.469716
gdpPercap_1957     6066.721495
gdpPercap_1962     7515.733738
gdpPercap_1967     9366.067033
gdpPercap_1972    12326.379990
gdpPercap_1977    14225.754515
gdpPercap_1982    15322.824720
gdpPercap_1987    16215.485895
gdpPercap_1992    17550.155945
gdpPercap_1997    19596.498550
gdpPercap_2002    23674.863230
gdpPercap_2007    28054.065790
dtype: float64