In [1]:
mass = 3.54
if mass > 3.0:
    print(mass, ' is large')
    
mass = 2.07
if mass > 3.0:
    print(mass, ' is large')

3.54  is large

In [2]:
masses = [3.54, 2.07, 9.22, 1.86, 1.71]
for mass in masses:
    if mass > 9.0:
        print(mass, 'is HUGE')
    elif mass > 3.0:
        print(mass, 'is large')
    else:
        print(mass, 'is small')

3.54 is large
2.07 is small
9.22 is HUGE
1.86 is small
1.71 is small

In [3]:
grade = 85
if grade >= 70:
    print('grade is C')
elif grade >= 80:
    print('grade is B')
elif grade >= 90:
    print('grade is A')

grade is C

In [4]:
velocity = 10.0
if velocity > 20.0:
    print('moving too fast')
else:
    print('adjusting velocity')
    velocity = 50.0
print('velocity now', velocity)

adjusting velocity
velocity now 50.0

In [5]:
velocity = 10.0
velocities = [velocity]
for i in range(5):
    print(i, ':', velocity)
    if velocity > 20.0:
        print('moving too fast')
        velocity = velocity - 5.0
    else:
        print('moving too slow')
        velocity = velocity + 10.0
    velocities.append(velocity)

print('final velocity:', velocity)
import matplotlib.pyplot as plt
plt.plot(velocities)

0 : 10.0
moving too slow
1 : 20.0
moving too slow
2 : 30.0
moving too fast
3 : 25.0
moving too fast
4 : 20.0
moving too slow
final velocity: 30.0

In [6]:
mass     = [ 3.54,  2.07,  9.22,  1.86,  1.71]
velocity = [10.00, 20.00, 30.00, 25.00, 20.00]

for i in range(5):
    if mass[i] > 5 and velocity[i] > 20:
        print('Fast heavy object. Duck!')
    elif mass[i] > 2 and mass[i] <= 5 and velocity[i] <= 20:
        print('Normal traffic')
    elif mass[i] <= 2 and velocity[i] <= 20:
        print('slow light object. Ignore it')
    else:
        print('Whoa! Something us up with the data. Check it.')

Normal traffic
Normal traffic
Fast heavy object. Duck!
Whoa! Something us up with the data. Check it.
slow light object. Ignore it

In [7]:
i = 4
print(mass[i] <=2 or mass[i] >= 5 and velocity[i] > 20)
print(mass[i] <=2 or (mass[i] >= 5 and velocity[i] > 20))
print((mass[i] <=2 or mass[i] >= 5) and velocity[i] > 20)

True
True
False

In [8]:
pressure = 71.9
if pressure > 50.0:
    pressure = 25.0
elif pressure <= 50.0:
    pressure = 0.0
print(pressure)

25.0

In [9]:
original = [-1.5, 0.2, 0.4, 0.0, -1.3, 0.4]
result = []
for value in original:
    if value < 0:
        result.append(0)
    else:
        result.append(1)
print(result)

[0, 1, 1, 1, 0, 1]

In [10]:
import glob
import pandas as pd
for filename in glob.glob('data/*.csv'):
    contents = pd.read_csv(filename)
    if len(contents) < 50:
        print(filename, len(contents))

data/gapminder_gdp_americas.csv 25
data/gapminder_gdp_europe.csv 30
data/gapminder_gdp_oceania.csv 2
data/gapminder_gdp_asia.csv 33

In [11]:
values = [-2,1,65,78,-54,-24,100]
smallest, largest = None, None
for v in values:
    if smallest==None and largest==None:
        smallest, largest = v, v
    else:
        smallest = min(smallest, v)
        largest = max(largest, v)
print(smallest, largest)

-54 100

In [12]:
print(min(values), max(values))

-54 100

In [13]:
def calculate_life_quartile(exp):
    if exp < 58.41:
        # This observation is in the first quartile
        return 1
    elif exp >= 58.41 and exp < 67.05:
        # This observation is in the second quartile
       return 2
    elif exp >= 67.05 and exp < 71.70:
        # This observation is in the third quartile
       return 3
    elif exp >= 71.70:
        # This observation is in the fourth quartile
       return 4
    else:
        # This observation has bad data
       return None

calculate_life_quartile(62.5)

2

The example lacks a data file so I created one.

In [14]:
data = pd.read_csv('Americas.csv')
data

  Country Gender  lifeExp
0      US      M     76.0
1      US      F     81.0
2      CA      M     80.0
3      CA      F     84.0
4      MX      M     74.0
5      MX      F     79.2
6      HN      M     72.9
7      HN      F     77.5
8      GT      M     70.4
9      GT      F     76.0

In [15]:
data['qtrl'] = data['lifeExp'].apply(calculate_life_quartile)
data

  Country Gender  lifeExp  qtrl
0      US      M     76.0     4
1      US      F     81.0     4
2      CA      M     80.0     4
3      CA      F     84.0     4
4      MX      M     74.0     4
5      MX      F     79.2     4
6      HN      M     72.9     4
7      HN      F     77.5     4
8      GT      M     70.4     3
9      GT      F     76.0     4